@use 'variables';

.destinace-main {
    
    padding: 40px 0 10px 0;

    @media only screen and (min-width:1001px){
        padding: 100px 0 10px 0;
    }
    
}

.article-teaser--list{

    @media only screen and (min-width:1001px){
    margin: 0  20px 100px;
    

    grid-template-columns: 40% calc(60% - 20px);
    
    gap: 20px
    }
}



.article-teaser--destinace__content{
    @media only screen and (min-width:1001px){
        padding: 10px 0 0 20px;
    }
}