@use 'variables';


.expeditions-article{
    
    &__route{
        text-align: center;
        font-size: 0.8rem;
        
    }

    &__perex {
        padding: 20px;
        font-weight: bold;
        max-width: 1200px;
        margin: 0 auto;
       
    }

    &__members-title {
        text-align: center;
        font-size: 1.5rem;
        margin: 40px 0 30px 0;
    }
 
    &__route-title{
        text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
    }
}

.expedition {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 100%;
    :first-child {
        margin-top: 0px;
    }

    &__day { 
        font-size: 1.2rem;
    }

    &__day--left {
        clear:left;
    }
    &__day--right {
        clear:right;
    }

    &__img--left {
        width:45%;
        float: right;
        margin: 0 0 20px 20px;
        clear:left;

        
    }     

    &__img--right {
        width:45%;
        float: left;
        margin: 0 30px 20px 0;  
        clear:right; 

        
    }

    &__perex {
        margin: 20px auto 20px auto;
        max-width: 1200px;
    }
}


.expedition p:has( + img){
    margin-bottom: 0;
     
}

.members {
    display: flex;
    flex-direction: column;   
    gap: 40px;
    width: 100%;
    margin: 40px auto;

    @media only screen and (min-width: 600px){
        width: 60%;
        min-width: 415px;

    }
    @media only screen and (min-width: 850px){
        padding: 20px;
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;

    }

    @media only screen and (min-width: 1100px){
        padding: 20px;
        width: 100%;
        flex-direction: row;
        flex-wrap: nowrap;

    }


    &__item {
        display: flex;   
        width: 100%;
        gap:0px;
        align-items: center;
        

        @media only screen and (min-width: 400px){
            gap:50px;
        }

        @media only screen and (min-width: 850px){
            width: calc((100% - 40px) / 2);
            padding:10px;
            box-shadow: 3px 3px 10px variables.$c-list-border-opacity;
            gap:100px;
        }

        @media only screen and (min-width: 1100px){
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap:50px;
            width: calc((100% - 120px) / 4);
            text-align: center;
            padding-top: 10px;
        }

    }

    &__description {
        padding-left: 20px;

        @media only screen and (min-width: 400px){
            padding-left: 0;
        }

    }

    &__foto-container {
        width: 100px;
        height: 100px;
        border: solid 1px;
        border-radius: 50%;

        @media only screen and (min-width: 1100px){
            width: 150px;
            height: 150px;  
        }
    }

    &__foto {
       border-radius: 50%;
    }

    &__name {
        color: variables.$c-secondary-dark;
        font-weight: 700;
        font-size: 1.2rem;
    }

    &__function {
        color: variables.$c-secondary;
        font-weight: 500;
        font-size: 1rem;
        font-style: italic;
    } 
}

