@use 'variables';



.menu {
    display: flex;
    gap: 50px;
    flex: 0 1 auto;
    justify-content: flex-end;
    height:100%;
    width: 100%;
    
    @media only screen and (max-width: 600px) {
    
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        gap: 0;
        align-content: stretch;
        overflow-y: scroll;
        overflow-x: hidden;
        
    }

    @media only screen and (min-width: 901px) and (max-width: 1100px) {
        gap:20px;
    }

    &__list {
        height: 100%;
        list-style: none;
        display: flex;
        align-self: center;

        @media only screen and (min-width:601px) and (max-width:900px){
            display: none;
            
            
        }

        @media only screen and (max-width: 600px) {
            height: calc(100% - 60px);
            flex-direction: column;
            align-self: flex-start;
            width: 100%;
                        
        }
        
    }

    &__top-item {
        position: relative;
        white-space: nowrap;

        @media only screen and (max-width: 900px){
            border-top: solid 1px variables.$c-list-border;
            height: 15%;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            transition: all ease-in-out 100ms;
            
        }
    } 
 
    &__top-item:last-child {        
        @media only screen and (max-width: 600px){
            border-bottom: solid 1px variables.$c-list-border;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        height: 100%;
        width: 100%;
        line-height: 60px;
        font-size: 1.3rem;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        transition: all easy-in-out 100ms;


        @media only screen and (min-width: 901px) and (max-width: 1100px) {
            padding: 0 15px;  
        }
        

        @media only screen and (max-width: 600px){
            padding: 0;
            font-size: 1.9rem;
           
        }
    }

    &__link--nohand {
        cursor: unset;
    }

    
    &__link:hover {
        background-color: variables.$c-secondary;
        color: variables.$c-hover-font;

        @media only screen and (max-width: 600px){
            background-color: transparent;
            color: black;
        }
    }
    
    &__sublink {

        @media only screen and (max-width: 600px){
        background-color: rgba(94, 127, 131, 0.5);
        color: variables.$c-primary;
        }
    }

    &__sublink:hover {      

        @media only screen and (max-width: 600px){
            background-color: variables.$c-secondary;
            color: variables.$c-primary;
        }
    }
    
    /*DROPDOWN STYLING START*/

    &__sublist {        
        display: none;
        position: absolute;    
        background-color: variables.$c-primary; 
        transition: all easy-in-out 100ms;

        @media only screen and (max-width: 600px){
            display: none;
            flex-wrap: nowrap; 
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 2000;           
        }

        @media only screen and (max-width: 900px){
            background-color: unset;
        }
    }

    &__subitem:nth-child(2) {
        border-top: solid 1px variables.$c-list-border;
        border-bottom: solid 1px variables.$c-list-border;

        @media only screen and (max-width: 600px){
            border-top: solid 1px variables.$c-primary;
            border-bottom: solid 1px  variables.$c-primary; 
            
        }
    }

    &__subitem {
        box-shadow: 3px 3px 3px rgba(0,0,0, 0.1);

        @media only screen and (max-width: 600px){
           height: fit-content;
            display: block;
            background-color: variables.$c-secondary;
            color: variables.$c-hover-font;
            
        }
        
    } 
    &__sublink {
        white-space: nowrap;
    }
/* ikonky šipeček na rozbalování podkategorií v menu*/

    &__arrow-container {
        @media only screen and (min-width:901px){
            display: none;
        }
    }

    &__arrow-container-right {
        position: absolute;
        top:0;
        left:0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-right: 30px;
        z-index: 2000;
    }

    &__arrow-container-down {
        display: none;
        position: absolute;
        top:0;
        left:0;
        height: 100%;
        width: 100%;        
        justify-content: flex-end;
        align-items: center;
        padding-right: 30px;
        z-index: 2000;

    }

    &__arrow {
        width: 50px;
        height: 50px;
        
    }

    /*&__top-item:hover &__sublist, &__top-item:active &__sublist{
        visibility: visible;
        opacity: 1;
        display: block;   
        
        @media only screen and (max-width: 600px){
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 2000;
            
        }
    }*/


    

    /*DROPDOWN STYLING end*/

     &__sm-link-container {
        flex-grow: 0;
        display: flex;
        align-self: center;
        align-items: center;
        height: 60px;
        width:fit-content;
        gap:10px;
     }

     &__sm-link {
        display: block;
        height: 50%;       
        
     }

     &__sm-img {
        height: 100%;
        width: 60px;

        @media only screen and (max-width: 1170px) {
            height: 80%;
            width: 30px;        
        }
     }

     
       
    
    


}

.menu--side {
    display: none;
    flex-direction: column;
    position: absolute;
    top:60px;
    right:-60vw;
    height: calc(100vh - 60px);
    width: 60vw;
    transition: transform 1s;
    background-color: rgba(179, 237, 245, 1);
    
    @media only screen and (min-width:601px) and (max-width:900px){
        display: flex;
               
    }

    &__top-item {
        height: 15%;
        border-top: solid 1px variables.$c-list-border;
        
    }

    &__sublink{
        width: 100%;
    }

    &__subitem {
        width: 100%;
        background-color: variables.$c-secondary;
            color: variables.$c-hover-font;
    }

    &__sublist-tablet{
        position: absolute;
        top: 100%;
        width:100%;
        left: 0;
        display: none;
        flex-direction: column;
        z-index: 2000;
    }

    &__sublist {
        width: 100%;
        height: 60px;
        z-index: 100;
        top: 100%;
    }
   
}

.icons-container {
    display: none;
    @media only screen and (min-width:601px) and (max-width:900px){
        display: flex;
        height:100%;
        justify-content: center;
        align-items: center;
        align-self: center; 
        
    }
}


#click {
    display: none;
}

.hamburger {

    display: none;

    @media only screen and (min-width:601px) and (max-width:900px){
        display: flex;
    }
}
.closing {

    display: none;

    @media only screen and (min-width:901px) {
        display: none;
    }

    }

#click:checked ~ .menu--side {
    transform: translate(-60vw,0);    
}

#click:checked ~ label .hamburger {
    display: none;
}

#click:checked ~ label .closing {
    display: flex;
}

.menu-label {
    @media only screen and (min-width:901px) {
        display: none;
    }
}
.checkbox {
    @media only screen and (min-width:901px) {
        display: none;
    }
}