@use 'variables';



.menu {
    display: flex;
    gap: 50px;
    flex: 0 1 auto;
    justify-content: flex-end;
    height:100%;
    width: 100%;
    

    &__list {
        height: 100%;
        list-style: none;
        display: flex;
        align-self: center;

        @media only screen and (min-width:601px) and (max-width:900px){
            display: none;
            
            
        }

        @media only screen and (max-width: 600px) {
            height: calc(100% - 60px);
            flex-direction: column;
            align-self: flex-start;
            width: 100%;
                        
        }
        
    }

    &__top-item {
        position: relative;
        white-space: nowrap;

        @media only screen and (max-width: 600px){
            border-top: solid 1px variables.$c-list-border;
            height: calc(100% / variables.$menu-count);
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            justify-content: flex-end;
            align-items: center;
            transition: all ease-in-out 100ms;
            
        }
    } 
 
    &__top-item:last-child {        
        @media only screen and (max-width: 600px){
            border-bottom: solid 1px variables.$c-list-border;
        }
    }

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        height: 100%;
        width: 100%;
        line-height: 60px;
        font-size: 1.2rem;
        color: variables.$c-primary-dark;
        background-color: variables.$c-primary;
        text-transform: uppercase;
        text-decoration: none;
        cursor: pointer;
        transition: all easy-in-out 100ms;

        @media only screen and (min-width:601px) and (max-width:900px){
            background-color: rgb(179,237,245, 0.8);
              
            font-size: 2rem; 
        }

        /*@media only screen and (max-width: 1170px) {
            padding: 0 10px;   
            font-size: 1.1rem;     
           */

        @media only screen and (max-width: 600px){
            padding: 0;
            font-size: 2rem;
        }
    }

    
    &__link:hover {
        background-color: variables.$c-secondary;
        color: variables.$c-hover-font;

        @media only screen and (max-width: 600px){
            background-color: transparent;
            color: black;
        }
    }
    
    &__sublink {

        @media only screen and (max-width: 600px){
        background-color: rgba(94, 127, 131, 0.5);
        color: variables.$c-primary;
        }
    }

    &__sublink:hover {      

        @media only screen and (max-width: 600px){
            background-color: variables.$c-secondary;
            color: variables.$c-primary;
        }
    }
    
    /*DROPDOWN STYLING START*/

    &__sublist {
        visibility: hidden;
        opacity: 0;
        display: none;
        position: absolute;    
        background-color: variables.$c-primary; 
        transition: all easy-in-out 100ms;

        @media only screen and (max-width: 600px){
            display: none;
            flex-wrap: nowrap; 
            flex-direction: column;
            position: absolute;
            bottom: -100%;
            left: 50px;
            z-index: 2000;            
        }
    }

    &__subitem:nth-child(2) {
        border-top: solid 1px variables.$c-list-border;
        border-bottom: solid 1px variables.$c-list-border;

        @media only screen and (max-width: 600px){
            border-top: solid 1px variables.$c-primary;
            border-bottom: solid 1px  variables.$c-primary; 
            
        }
    }

    &__subitem {
        box-shadow: 3px 3px 3px rgba(0,0,0, 0.1);

        @media only screen and (max-width: 600px){
           height: fit-content;
            display: block;
            background-color: variables.$c-secondary;
            color: variables.$c-hover-font;
            
        }
        
    } 
    &__sublink {
        white-space: nowrap;
    }

    &__top-item:hover &__sublist, &__top-item:active &__sublist{
        visibility: visible;
        opacity: 1;
        display: block;   
        
        @media only screen and (max-width: 600px){
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 2000;
            
        }
    }

    &__top-item:hover + &__top-item{

        @media only screen and (max-width: 600px){
            margin-top: 180px;

        }
    }

    /*DROPDOWN STYLING end*/

     &__sm-link-container {
        flex-grow: 0;
        display: flex;
        align-self: center;
        align-items: center;
        height: 60px;
        width:fit-content;
     }

     &__sm-link {
        display: block;
        height: 50%;       
        
     }

     &__sm-img {
        height: 100%;
        width: 60px;

        @media only screen and (max-width: 1170px) {
            height: 80%;
            width: 30px;        
        }
     }

     
       
    
    
    @media only screen and (max-width: 600px) {

        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: space-between;
        gap: 0;
        align-content: stretch;
        overflow-y: scroll;
        overflow-x: hidden;
        
    }


}

.menu--side {
    display: none;
    flex-direction: column;
    position: absolute;
    top:60px;
    right:-60vw;
    height: calc(100vh - 60px);
    width: 60vw;
    
    @media only screen and (min-width:601px) and (max-width:900px){
        display: flex;
               
    }

    &__top-item {
        height: calc((100vh - 60px) / 5);
        border-top: solid 1px variables.$c-list-border;
        height: calc(100% / variables.$menu-count);
    }

    &__sublink{
        width: 100%;
    }

    &__subitem {
        width: 100%;
    }
    &__sublist {
        width: 100%;
        z-index: 100
    }
}

/*
.hamburger-tabletmenu {
    display: none;
    
    
    @media only screen and (min-width:601px) and (max-width:900px){
        display: flex;
        flex-direction: column;
        
    }
}

@keyframes menu{
    from {transform: translate (0, 0);}
    to {transform: translate(-60vw, 0);}
}
.hamburger-tabletmenu:active .menu--side{
    animation: menu 2s;
    animation-fill-mode: forwards;
}

.closing-tabletmenu {
      display: none;
}
*/
.icons-container {
    @media only screen and (min-width:601px) and (max-width:900px){
        display: flex;
        height:100%;
        justify-content: center;
        align-items: center;
        align-self: center; 
        
    }
}



#click:checked ~ .menu--side {
    transform: translate(-60vw,0);
}