/*colors*/
$c-primary: rgb(179, 237, 245);
$c-secondary:  rgb(94, 127, 131);
$c-hover-font: rgb(225, 247, 250);
$c-list-border: rgb(94, 127, 131, 0.5);
$c-primary-dark: rgb(24, 35, 36);
$c-primary-lightdark: rgb(44, 61, 63);
$c-white: white;


/*fonts*/

$f-claims: "Playball", "Montserrat", sans-serif;

$menu-count: 5;