@charset 'utf-8';
@use 'variables';
@use 'header';
@use 'menu';
@use 'hamburger-menu';
@use 'footer';
@use 'basic';


.hero {
    width: 100%;
    height: 100vh;
    display: inline-block;

    &__img {
        display: block;
        object-fit: cover;
    }
}

 

  