@charset 'utf-8';
@use 'variables';
@use 'header';
@use 'menu';
@use 'hamburger-menu';
@use 'footer';
@use 'basic';
@use 'hero';


.country {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8vh 20vh 40vh  110vh;
    justify-items: center;
    align-items: center;
    padding: 40px 0;
    gap: 20px;
    

    &__list {
        display: flex;
        width: 100%;
        height: 150px;
        justify-content: space-evenly;
        
        
    }

    &__link { 
        text-decoration: none;
        color: variables.$c-white;
        background: variables.$c-secondary-dark;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: 150px;
        font-size: 1.5rem;


    }

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 100%;
        padding: 2px;
        border: solid 1px variables.$c-secondary-dark;
        flex: 0 0 150px;
        box-shadow: 3px 3px 3px variables.$c-list-border;
        
    }

    &__img-container {
        width: 100%;
        height: 100%;
        position: relative;
    }

   

}
.most-read {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin-bottom: 50px;

    &__list {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: visible;
    }

    &__title {
        line-height: 10vh;
    }
}

.article-thumbnail {
    width: 100%; 
    flex: 0 0 calc((100% - 40px) / 3);
    
}