---
layout: layouts/main.njk
title: Fotogalerie
fotoset: /Images/fotogalerie_small.jpg 600w, /Images/fotogalerie_middle.jpg 900w, /Images/fotogalerie_big.jpg 1200w, /Images/fotogalerie_large.jpg 1800w, /Images/fotogalerie_superlarge.jpg 2500w
foto: /Images/fotogalerie_middle.jpg
---

{% include 'partials/header.njk' %}

<main class="foto-main">

{% include 'partials/article-hero.njk' %}

    <h2 class="fotogalerie__info">Zde v budoucnu naleznete fotogalerii, kterou připravujeme.</h2>
    
    
</main>

{% include 'partials/footer.njk' %}



