---
layout: layouts/main.njk
title: Fotogalerie
fotoset: /images/fotogalerie_small.jpg 600w, /images/fotogalerie_middle.jpg 900w, /images/fotogalerie_big.jpg 1200w, /images/fotogalerie_large.jpg 1800w, /images/fotogalerie_superlarge.jpg 2500w
foto: /images/fotogalerie_middle.jpg
---

{% include 'partials/header.njk' %}

<main class="foto-main">

{% include 'partials/article-hero.njk' %}

    <p class="fotogalerie__info">Zde v budoucnu naleznete fotogalerii, kterou připravujeme.</p>
    
    
</main>

{% include 'partials/footer.njk' %}



