---
layout: layouts/main.njk
title: O nás
---

{% include 'partials/header.njk' %}

<main class="main-onas">

    <div class="onas">

        

        <div class="onas__all">
            <h2 class="onas__title">Sokolí rodinka</h2>
            <div class="contact__foto-container onas__foto onas__foto-all">
                <img class="contact__our-foto" srcset="/images/portraits/contact_supersmall.jpg 200w, /images/portraits/contact_small.jpg 400w, /images/portraits/contact_middle.jpg 600w, /images/portraits/contact_big.jpg 800w" src="/images/portraits/contact_big.jpg" alt="Fotografie rodinky">
            </div>  
        
            <p class="onas__description-all">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam architecto fuga illo tempore tenetur, tempora autem minima recusandae explicabo obcaecati porro, saepe officia repellendus praesentium aspernatur ratione ex maiores! Autem!
            Odio doloremque mollitia sint minima ut iure! Voluptas libero numquam culpa eos! Omnis voluptatem quis cumque fuga aperiam nulla delectus reiciendis perferendis, quasi dolore! Alias nihil amet consectetur dignissimos facere!
            Sed dolores odio inventore doloremque neque non sapiente fuga, ad incidunt quibusdam velit quasi earum possimus culpa quam architecto iste. Quo saepe necessitatibus quibusdam commodi, natus provident perspiciatis id! Omnis.
            </p>
        </div>

        <div class="onas__jarda onas__item">
            <h2 class="onas__title">Jarda</h2>
            <div class="contact__foto-container onas__foto">
                <img class=" contact__our-foto"  src="/images/portraits/jarda_small.jpg" alt="">
            </div>  

            <p class="onas__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam architecto fuga illo tempore tenetur, tempora autem minima recusandae explicabo obcaecati porro, saepe officia repellendus praesentium aspernatur ratione ex maiores! Autem!
            Odio doloremque mollitia sint minima ut iure! Voluptas libero numquam culpa eos! Omnis voluptatem quis cumque fuga aperiam nulla delectus reiciendis perferendis, quasi dolore! Alias nihil amet consectetur dignissimos facere!
            ed dolores odio inventore doloremque neque non sapiente fuga, ad incidunt quibusdam velit quasi earum possimus culpa quam architecto iste. Quo saepe necessitatibus quibusdam commodi, natus provident perspiciatis id! Omnis.
            </p>
        </div>

        <div class="onas__kata onas__item">
            <h2 class="onas__title">Kata</h2>
            <div class="contact__foto-container onas__foto">
                <img class="onas__kata-foto contact__our-foto"  src="/images/portraits/kata_small.jpg" alt="">
            </div>  

            <p class="onas__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam architecto fuga illo tempore tenetur, tempora autem minima recusandae explicabo obcaecati porro, saepe officia repellendus praesentium aspernatur ratione ex maiores! Autem!
            Odio doloremque mollitia sint minima ut iure! Voluptas libero numquam culpa eos! Omnis voluptatem quis cumque fuga aperiam nulla delectus reiciendis perferendis, quasi dolore! Alias nihil amet consectetur dignissimos facere!
            ed dolores odio inventore doloremque neque non sapiente fuga, ad incidunt quibusdam velit quasi earum possimus culpa quam architecto iste. Quo saepe necessitatibus quibusdam commodi, natus provident perspiciatis id! Omnis.
            </p>
        </div>

        <div class="onas__lenti onas__item">
            <h2 class="onas__title">Leontýnka</h2>
            <div class="contact__foto-container onas__foto">
                <img class="onas__Lenti-foto contact__our-foto"  src="/images/portraits/lenti_middle.jpg" alt="">
            </div>  

            <p class="onas__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam architecto fuga illo tempore tenetur, tempora autem minima recusandae explicabo obcaecati porro, saepe officia repellendus praesentium aspernatur ratione ex maiores! Autem!
            Odio doloremque mollitia sint minima ut iure! Voluptas libero numquam culpa eos! Omnis voluptatem quis cumque fuga aperiam nulla delectus reiciendis perferendis, quasi dolore! Alias nihil amet consectetur dignissimos facere!
            ed dolores odio inventore doloremque neque non sapiente fuga, ad incidunt quibusdam velit quasi earum possimus culpa quam architecto iste. Quo saepe necessitatibus quibusdam commodi, natus provident perspiciatis id! Omnis.
            </p>
        </div>
        <div class="onas__eli onas__item">
            <h2 class="onas__title">Eliška</h2>
            <div class="contact__foto-container onas__foto">
                <img class="onas__jenny-foto contact__our-foto"  src="/images/portraits/eli.jpg" alt="">
            </div>  

            <p class="onas__description-jarda">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam architecto fuga illo tempore tenetur, tempora autem minima recusandae explicabo obcaecati porro, saepe officia repellendus praesentium aspernatur ratione ex maiores! Autem!
            Odio doloremque mollitia sint minima ut iure! Voluptas libero numquam culpa eos! Omnis voluptatem quis cumque fuga aperiam nulla delectus reiciendis perferendis, quasi dolore! Alias nihil amet consectetur dignissimos facere!
            ed dolores odio inventore doloremque neque non sapiente fuga, ad incidunt quibusdam velit quasi earum possimus culpa quam architecto iste. Quo saepe necessitatibus quibusdam commodi, natus provident perspiciatis id! Omnis.
            </p>
        </div>
        <div class="onas__dan onas__item">
            <h2 class="onas__title">Daniel</h2>
            <div class="contact__foto-container onas__foto">
                <img class="onas__jenny-foto contact__our-foto"  src="/images/portraits/dan1_small.jpg" alt="">
            </div>  

            <p class="onas__description-jarda">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam architecto fuga illo tempore tenetur, tempora autem minima recusandae explicabo obcaecati porro, saepe officia repellendus praesentium aspernatur ratione ex maiores! Autem!
            Odio doloremque mollitia sint minima ut iure! Voluptas libero numquam culpa eos! Omnis voluptatem quis cumque fuga aperiam nulla delectus reiciendis perferendis, quasi dolore! Alias nihil amet consectetur dignissimos facere!
            ed dolores odio inventore doloremque neque non sapiente fuga, ad incidunt quibusdam velit quasi earum possimus culpa quam architecto iste. Quo saepe necessitatibus quibusdam commodi, natus provident perspiciatis id! Omnis.
            </p>
        </div>
        <div class="onas__jenny onas__item">
            <h2 class="onas__title">Jenny</h2>
            <div class="contact__foto-container onas__foto">
                <img class="onas__jenny-foto contact__our-foto"  src="/images/portraits/jenny_middle.jpg" alt="">
            </div>  

            <p class="onas__description-jarda">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam architecto fuga illo tempore tenetur, tempora autem minima recusandae explicabo obcaecati porro, saepe officia repellendus praesentium aspernatur ratione ex maiores! Autem!
            Odio doloremque mollitia sint minima ut iure! Voluptas libero numquam culpa eos! Omnis voluptatem quis cumque fuga aperiam nulla delectus reiciendis perferendis, quasi dolore! Alias nihil amet consectetur dignissimos facere!
            ed dolores odio inventore doloremque neque non sapiente fuga, ad incidunt quibusdam velit quasi earum possimus culpa quam architecto iste. Quo saepe necessitatibus quibusdam commodi, natus provident perspiciatis id! Omnis.
            </p>
        </div>
    </div>



</main>

{% include 'partials/footer.njk' %}