<div class="country">
        <h2 class="country__title title">Kam to bude</h2>
        <div class="country__list">
            <div class="country__item"><a class="country__link link" href="/spanelsko/">Španělsko</a></div>
            <div class="country__item"><a class="country__link link" href="/francie/">Francie</a></div>
            <div class="country__item"><a class="country__link link" href="/slovinsko/">Slovinsko</a></div>
        </div>
        <div class="country__img-container">
            <img class="coutry__img" srcset="/mages/country_small.jpg 620w, /images/country_medium.jpg 900w, /images/country_big.jpg 1500w, /images/country_large.jpg 2000w" src="/images/country_medium.jpg" alt="Pobřeží s palmou">
            <div class="claim-container">
                <p>Všude je krásně, <br>
                tak proč sedět doma?!</p>
            </div>
        </div>    
        <h2 class="most-read__title title">Nejnovější</h2>
        {% include 'partials/most-read.njk' %}
    </div>