<footer class="footer">
        <div class="footer__claim-container">
            <p class="footer__claim-text"> Na každém místě naší země se dá nalézt tolik krásy,</p>
            <p class="footer__claim-text"> stačí jen vyjít ven ze dveří a rozhlédnout se.</p>
        </div>

        <div class="footer__info">

            <img class="footer__icon" src="/images/logo-white-justVan.svg" alt="Ikonka karavanu">
            <p class="copyright">  &copy; Falconies</p>
            
        </div>
    </footer>