<header id="header" class="header">
        
        <div class="header__mobile-top-container"> 
            <a class="header__logo-container" href="/">
                    <img class="header__logo-img" src="/images/FALCONIES (2).svg" alt="">
            </a>
            <div id="hamburger" class="hamburger-menu" >
                <img   class="hamburger-menu__img" src="/images/hamburgermenu.svg" alt="Ikonka hamburger menu">
            </div>

            <div id="closingMenu" class="closing-menu">
                <img   class="closing-menu__img" src="/images/close_FILL0_wght400_GRAD0_opsz24.svg" alt="Ikonka hamburger menu">
            </div>
        </div>

       {% include 'partials/menu.njk' %} 
        

   
    </header>