<hero class="hero">
    <picture >
        <source media="(max-width:600px)" srcset="/Images/main_small.jpg 600w, /Images/main_bigger_orez.jpg 100w, /Images/main_superlarge_orez.jpg 1267w">
        <source   srcset="/Images/main_middle.jpg 920w, /Images/main_big.jpg 1200w, /Images/main_bigger.jpg 2000w, /Images/main_superlarge.jpg 2500w">
        <img class="hero__img" src="/Images/main_big.jpg" alt="obrázek pobřeží">
    </picture>
    <div class="hero__claim-container">
        <div class="hero__logo-container">
            <img class="hero__logo" src="/images/logo-white-justVan.svg" alt="Ikonka karavanu">
        </div>
        <h1 class="hero__claim">
            <span>Vydejte se </span><br>
            <span class="hero__claim--smaller">s námi</span><br>  
            <span>cestu!</span> 
        </h1> 
    </div>
</hero> 