<hero class="hero">
    <picture >
        <source media="(max-width:600px)" srcset="/images/main_small.jpg 600w, /images/main_bigger_orez.jpg 100w, /images/main_superlarge_orez.jpg 1267w">
        <source  media="(min-width:601px)" srcset="/images/main_middle.jpg 920w, /images/main_big.jpg 1200w, /images/main_bigger.jpg 2000w, /images/_mainsuperlarge.jpg 2500w">
        <img class="hero__img" src="/images/main_big.jpg" alt="obrázek pobřeží">
    </picture>
    <div class="hero__claim-container">
        <div class="hero__logo-container">
            <img class="hero__logo" src="/images/logo-white-justVan.svg" alt="Ikonka karavanu">
        </div>
        <h1 class="hero__claim">
            <span>Vydejte se </span><br>
            <span class="hero__claim--smaller">s námi</span><br>  
            <span>cestu!</span> 
        </h1> 
    </div>
</hero> 