<hero class="hero">
 
      
    <img class="hero__img" srcset="/Images/main_middle.jpg 920w, /Images/main_big.jpg 1200w, /Images/main_bigger.jpg 2000w, /Images/main_superlarge.jpg 2500w" src="/Images/main_middle.jpg 920w" alt="obrázek pobřeží">
    
    <div class="hero__claim-container">
        <div class="hero__logo-container">
            <img class="hero__logo" src="/images/logo-white-justVan.svg" alt="Ikonka karavanu">
        </div>
        <h1 class="hero__claim">
            <span>Vydejte se </span><br>
            <span class="hero__claim--smaller">s námi</span><br>  
            <span>cestu!</span> 
        </h1> 
    </div>
</hero> 