<aside class="most-read">

            
    <div class="most-read__list">
                    
        {% for posts in collections.article | reverse %}       
            <div class="article-thumbnail">
                <img class="article-teaser__img" srcset="{{ posts.data.fotoset }}" src="{{ posts.data.foto }}" alt="{{ posts.data.alt}}">

                <a href="{{ posts.url }}"><div class="article-thumbnail__text-container">
                    <p class="article-thumbnail__text">{{ posts.data.title }}</p>
                </div></a>        
            </div>
                                    
        {% endfor %}       
    
    </div>

</aside> 