<aside class="most-read">
            
            
                <div class="most-read__list">
                    
                    <div class="article-thumbnail">
                        <img class="article-teaser__img" srcset="/Images/pobrezi_zuly/main1_small.jpg 650w, /Images/pobrezi_zuly/main1_medium.jpg 950w, /Images/pobrezi_zuly/main1_big.jpg 1250w, /Images/pobrezi_zuly/main1_large.jpg 2000w, /Images/pobrezi_zuly/main1_superlarge.jpg 2500w" src="/Images/pobrezi_zuly/main1_medium.jpg" alt="Kameny na pobřeží Červené žuly">

                        <div class="article-thumbnail__text-container">
                            <p class="article-thumbnail__text">Pobřeží červené žuly</p>
                        </div>                
                    </div>
                    <div class="article-thumbnail">
                        <img class="article-teaser__img" srcset="/Images/Ribadesella/main_small.jpg 650w, /Images/Ribadesella/main_medium.jpg 950w, /Images/Ribadesella/main_big.jpg 1250w, /Images/Ribadesella/main_large.jpg 2000w, /Images/Ribadesella/main_superlarge.jpg 2500w" src="/Images/Ribadesella/main_middle.jpg" alt="Výhled na Španělské město Ribadesella">
                        <div class="article-thumbnail__text-container">
                            <p class="article-thumbnail__text">Městečko Ribadesella</p>
                        </div>                
                    </div>
                    <div class="article-thumbnail">
                        <img src="/Images/krystof/krystof_first_small.jpg" alt="">
                         <div class="article-thumbnail__text-container">
                            <p class="article-thumbnail__text">Náš Kryštof</p>
                         </div>                  
                    </div>
                
                </div>
           

        </aside> 