---
layout: layouts/main.njk

---

{% include 'partials/header.njk' %}

    
{% include 'partials/article-hero.njk' %}

    <main class="article-main">  
        <article class="article">
         {% include 'partials/article-info.njk' %} 

                {{content | safe }}
            
        </article>
    </main>

    

{% include 'partials/footer.njk' %}