---
layout: layouts/main.njk
---



{% include 'partials/header.njk' %}

    <main class="article-main">


        {{ content | safe}}
     
    
    </main>

    

{% include 'partials/footer.njk' %}