---
layout: layouts/main.njk

---

{% include 'partials/header.njk' %}
<article class="article expeditions-article">
    <hero class="article__hero">
                <img class="article__main-img" srcset="{{ foto }}" alt="{{ alt }}">
                <div class="article__title-container claim-container">
                   <h1 class="article__title"> {{title}}</h1>
                </div>
            </hero>
    <main class="article-main">

        <div class="expedition__perex">
        <p class="expeditions-article__perex">{{perex}} </p>
        </div>
        
       {{content | safe }} 

    </main>
</article>
    

{% include 'partials/footer.njk' %}