<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
   <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playball&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
   {{ content | safe}}
  

    
    
   <script>

//rozbalovani mobilni verze menu
        const menu = document.querySelector(".menu");
        const header = document.querySelector(".header");
       


        const hamburgerMenu = document.querySelector(".hamburger-menu");
        const closingMenu = document.querySelector(".closing-menu");

        hamburgerMenu.onclick = function() {
        document.getElementById("header").style.height = "100vh";
        document.getElementById("hamburger").style.display = "none";
        document.getElementById("closingMenu").style.display = "flex";
        
        }


        closingMenu.onclick = function() {
        document.getElementById("header").style.height = "60px";
        document.getElementById("hamburger").style.display = "flex";
        document.getElementById("closingMenu").style.display = "none";
        
        }

//rozbalovani nabidky destinaci mobil
        const destinaceOpen = document.querySelector(".destinace-open");
        const destinaceClose = document.querySelector(".destinace-close"); 
        
        destinaceOpen.onclick = function() {
        document.getElementById("destinace-sublist").style.display = "flex";
        document.getElementById("destinace-open").style.display = "none";
        document.getElementById("destinace-close").style.display = "flex";     
        document.getElementById("deniky-open").style.display = "none";     
             
        
        }

        destinaceClose.onclick = function() {
        document.getElementById("destinace-sublist").style.display = "none";
        document.getElementById("destinace-open").style.display = "flex";
        document.getElementById("destinace-close").style.display = "none";    
        document.getElementById("deniky-open").style.display = "flex";    
            
        }
//rozbalovani nabidky destinaci tablet
        const destinaceOpenTablet = document.querySelector(".destinace-open-tablet");
        const destinaceCloseTablet = document.querySelector(".destinace-close-tablet"); 
        
        destinaceOpenTablet.onclick = function() {
        document.getElementById("destinace-sublist-tablet").style.display = "flex";
        document.getElementById("destinace-open-tablet").style.display = "none";
        document.getElementById("destinace-close-tablet").style.display = "flex";     
        document.getElementById("deniky-open-tablet").style.display = "none";     
             
        
        }

        destinaceCloseTablet.onclick = function() {
        document.getElementById("destinace-sublist-tablet").style.display = "none";
        document.getElementById("destinace-open-tablet").style.display = "flex";
        document.getElementById("destinace-close-tablet").style.display = "none";    
        document.getElementById("deniky-open-tablet").style.display = "flex";    
            
        }

//rozbalovani nabidky deniky
        const denikyOpen = document.querySelector(".deniky-open");
        const denikyClose = document.querySelector(".deniky-close"); 
        
        denikyOpen.onclick = function() {
        document.getElementById("deniky-sublist").style.display = "flex";
        document.getElementById("deniky-open").style.display = "none";
        document.getElementById("deniky-close").style.display = "flex";     
        
        }

        denikyClose.onclick = function() {
        document.getElementById("deniky-sublist").style.display = "none";
        document.getElementById("deniky-open").style.display = "flex";
        document.getElementById("deniky-close").style.display = "none";     
        
        }

//rozbalovani nabidky deniky tablet
        const denikyOpenTablet = document.querySelector(".deniky-open-tablet");
        const denikyCloseTablet = document.querySelector(".deniky-close-tablet"); 
        
        denikyOpenTablet.onclick = function() {
        document.getElementById("deniky-sublist-tablet").style.display = "flex";
        document.getElementById("deniky-open-tablet").style.display = "none";
        document.getElementById("deniky-close-tablet").style.display = "flex";     
        
        }

        denikyCloseTablet.onclick = function() {
        document.getElementById("deniky-sublist-tablet").style.display = "none";
        document.getElementById("deniky-open-tablet").style.display = "flex";
        document.getElementById("deniky-close-tablet").style.display = "none";     
        
        }
//rozbalovani nabidky onas
        const onasOpen = document.querySelector(".onas-open");
        const onasClose = document.querySelector(".onas-close"); 
        
        onasOpen.onclick = function() {
        document.getElementById("onas-sublist").style.display = "flex";
        document.getElementById("onas-open").style.display = "none";
        document.getElementById("onas-close").style.display = "flex";     
        
        }

        onasClose.onclick = function() {
        document.getElementById("onas-sublist").style.display = "none";
        document.getElementById("onas-open").style.display = "flex";
        document.getElementById("onas-close").style.display = "none";     
        
        }
//rozbalovani nabidky onas tablet
        const onasOpenTablet = document.querySelector(".onas-open-tablet");
        const onasCloseTablet = document.querySelector(".onas-close-tablet"); 
        
        onasOpenTablet.onclick = function() {
        document.getElementById("onas-sublist-tablet").style.display = "flex";
        document.getElementById("onas-open-tablet").style.display = "none";
        document.getElementById("onas-close-tablet").style.display = "flex";     
        
        }

        onasCloseTablet.onclick = function() {
        document.getElementById("onas-sublist-tablet").style.display = "none";
        document.getElementById("onas-open-tablet").style.display = "flex";
        document.getElementById("onas-close-tablet").style.display = "none";     
        
        }


        const container = document.querySelector(".header");

        function checkWidth() {
        if (window.innerWidth > 600) {
            document.getElementById("header").style.height = "60px";
            document.getElementById("hamburger").style.display = "none";
            document.getElementById("closingMenu").style.display = "none";
            
        }


        else {
            document.getElementById("hamburger").style.display = "flex";
            document.getElementById("header").style.height = "60px";
                
        }
        }

        document.onload = checkWidth;
        window.onresize = checkWidth;
    </script>
    


</body>
</html>